*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	text-align: center;
	font-family: 'Outfit', sans-serif;
	background-color: hsl(212, 45%, 89%);
}

.container{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.size{
	padding: 15px;
	width: 290px;
	background-color: hsl(0, 0%, 100%);
	border-radius: 10px;
}

img, h1, p{
	max-width: 100%;
	border-radius: 10px;
	margin-bottom: 15px;
}

.size h1{
	font-size: 20px;
	color: hsl(218, 44%, 22%);
	font-weight: 700;
}

.size p{
	font-size: 15px;
	color: hsl(220, 15%, 55%);
	font-weight: 400;
}

.attribution{
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-size: 13px;
	color: 	color: hsl(218, 44%, 22%);
}

.attribution a{
	text-decoration: none;
	color: hsl(220, 15%, 55%);
}